* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    height: auto;
    width: 100%;
}


.navbar .section1 {
    display: flex;
    gap: 30px;
    margin-left: 30px;
    padding-block: 15px;
}

.navbar .section2 {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.navbar .logo h1 {
    font-size: 32px;
    text-align: center;
    font-weight: lighter;
}

.navbar .section2 .searchbar input {
    position: relative;
    padding-left: 50px;
    padding-right: 0;
    border: none;
    margin-right: 50px;
    margin-left: 60px;
}

.navbar .section2 .searchbar input:focus {
    outline: none;
}

.navbar .section2 .searchbar svg {
    position: absolute;
    right: 335px;
    top: 17.5px;
}

.content .video {
    height: 100vh;
    width: 96%;
    margin: 0 auto;
    position: relative;
}

.content .video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.content .landing-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .landing-text h1 {
    position: absolute;
    bottom: 60px;
    font-size: 100px;
    transform: translate(-50px, -50px);
    text-align: center;
    letter-spacing: 0em;
    color: white;
}

.content .landing-text p {
    position: absolute;
    bottom: 75px;
    color: white;
}

.content .landing-text button {
    position: absolute;
    bottom: 20px;
    padding-inline: 30px;
    padding-block: 10px;
    background: transparent;
    color: white;
    border: 1px solid white;
}

.content .landing-text button:hover {
    background-color: white;
    color: black;
    transition-property: all;
    transition-duration: 2s;
}

.images
{
    display: flex;
    justify-content: center;
}

.images img
{
    height: 700px;
    width: 48%;
}